<div class="container-fluid"> 
	<h1 style="text-align: center;">JavaScript:<br>A Hearthstone Adventure (PH)</h1>
	<ul>
		<li class="menu-button" ui-sref="CardLibrary">
			<a class="text-image" style="text-decoration: none;">Card Library</a>
			<img src="http://res.cloudinary.com/halhassen/image/upload/v1457332946/menu-button_beqca8.png" alt="menu-button" />
		</li>

		<li class="menu-button" ui-sref="GameStart">
			<a class="text-image" style="text-decoration: none;">Game Start</a>
			<img src="http://res.cloudinary.com/halhassen/image/upload/v1457332946/menu-button_beqca8.png" alt="menu-button" />
		</li>
	</ul>
</div>
